@import '../../../assets/styles/index.module.scss';

.root {
  width: 100%;

  .dropDownAction {
    align-items: center;
    background: $primary !important;
    border-radius: $border-radius--small;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    height: 30px;
    justify-content: space-between;
    line-height: 18.54px;
    padding: 0 6px 0 12px;
    transition: border-radius 0.3s ease-in-out;
    z-index: 10;

    &.deployed {
      border-radius: $border-radius--small $border-radius--small 0 0;
    }

    button {
      appearance: none;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;

      svg {
        height: 18px;
        rotate: -270deg;
        transition: rotate 0.3s ease-in-out;
        width: 18px;
      }
      &.deployed {
        svg {
          rotate: -90deg;
        }
      }
    }

    @include tabletToDesktop {
      border-radius: $border-radius--medium;
      font-size: $small;
      height: 52px;
      padding-left: 20px;
      padding-right: 9px;

      &.deployed {
        border-radius: $border-radius--medium $border-radius--medium 0 0;
      }

      button {
        svg {
          height: 32px;
          width: 32px;
        }
      }
    }
  }

  .content {
    background: $light-grey !important;
    border-radius: 0 0 $border-radius--small $border-radius--small;
    color: $primary;
    font-size: $xx-small;
    font-weight: 400;
    line-height: 17.11px;
    max-height: 0;
    overflow: hidden;
    padding: 0 12px;
    transition: max-height 0.3s ease-in-out, padding-top 0.3s ease-in-out,
    padding-bottom 0.3s ease-in-out;

    &.deployed {
      max-height: 100%;
      min-height: fit-content;
      padding-bottom: 16px;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 16px;
    }

    @include tabletToDesktop {
      border-radius: 0 0 $border-radius--medium $border-radius--medium;
      font-size: $small;
      line-height: 25.67px;
      padding-left: 20px;

      &.deployed {
        padding-left: 20px;
      }
    }
  }
}
