@import '../../../assets/styles/index.module.scss';

.root {
  @include paddingResponsive();
  align-items: center;
  background-color: white;
  box-shadow: 0 -5px 5px 4px black;
  display: flex;
  height: 47px;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
  position: fixed;
  width: calc(100% - 40px);
  z-index: 3;

  @include tabletToDesktop {
    height: 68px;
    padding-top: 40px;
    width: calc(100% - 200px);
  }

  .logo {
    height: 100%;
    width: fit-content;
  }

  .nav {
    color: $primary;
    display: flex;
    font-size: $xx-small;
    gap: 10px;

    @include tabletToDesktop {
      font-size: $medium;
      gap: 57px;
    }
  }
}
