@import '../../../../assets/styles/index.module.scss';

.root {
  position: absolute;
  appearance: none;
  border: none;
  background: none;
  z-index: 2;
  cursor: pointer;
  padding: 0;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0 $border-radius--medium $border-radius--medium 0;

  .arrow {
    height: 24px;
    width: 24px;
    padding: 0;
  }
  
  @media (min-width: 768px) {
    height: 100%;
    border-radius: 0 $border-radius--large $border-radius--large 0;
    
    &:hover {
      background-color: $transparent-light-grey;
    }

    .arrow {
      height: 120px;
      width: 120px;
    }
  }

  svg {
    transition: background-color 0.3s ease-in-out;
  }

  &.right {
    right: 0;
    padding-right: 10px;
    svg g {
      transform: translateX(2px);
    }
  }

  &.left {
    left: 0;
    padding-right: 10px;
    transform: rotate(180deg);
    svg g {
      transform: translateX(2px);
    }
  }
}