@import '../../../../assets/styles/index.module.scss';

.root {
  display: flex;
  
  svg {
    height: 18px;
    width: 18px;
  }

  @include tabletToDesktop {
    svg {
      height: 36px;
      width: 36px;
    }
  }
}