@import '../../../assets/styles/index.module.scss';

.root {
  @include pageDefaultSetup();
  @include flexColumn();

  gap: 20px;
  width: 100%;

  .accomodationsList {
    height: fit-content;
  }

  @include tabletToDesktop {
    background-color: $light-grey;
    border-radius: $border-radius--large;
    box-sizing: border-box;
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(340px, 1fr));
    justify-content: center;
    justify-items: center;
    margin-top: 43px;
    padding-bottom: 56px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 56px;
  }
}