@import 'assets/styles/index.module.scss';

.root {
  @include flexColumn();
  @include paddingResponsive();
  @include pageDefaultSetup();

  margin-top: 87px;
  padding-bottom: 16px;
  padding-top: 16px;
  transition: box-shadow 0.3s ease-in-out;
  z-index: 2;

  @include tabletToDesktop {
    margin-top: 118px;
    padding-bottom: 63px;
  }
}
