@import 'assets/styles/index.module.scss';

.root {
  color: $primary;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 15px;
  width: 100%;
  
  h1 {
    font-size: $small;
    line-height: 25.67px;
  }

  h2 {
    font-size: $x-small;
    line-height: 19.96px;
  }

  @include tabletToDesktop {
    margin-top: 30px;
    
    h1 {
      font-size: $large;
      line-height: 51.34px;
    }

    h2 {
      font-size: $small;
      line-height: 25.67px;
    }
  }
}