@import '../../../assets/styles/index.module.scss';

.root {
    display: flex;
    flex-direction: column;
    width: 100%;

    .title-tags {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .review-owner {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
    }

    @include tabletToDesktop {
        flex-direction: row;
        justify-content: space-between;

        .title-tags {
            gap: 20px;
        }

        .review-owner {
            align-items: flex-end;
            flex-direction: column-reverse;
            gap: 21px;
            justify-content: space-between;
            margin-top: 24px;
        }
    }
}