@import 'assets/styles/index.module.scss';

.root {
  @include flexColumnCentered();

  align-items: flex-start;
  border-radius: $border-radius--medium;
  color: white;
  font-size: $medium;
  overflow: hidden;
  padding: 32px 0;
  position: relative;
  width: 100%;

  h1 {
    max-width: 217px;
    padding-left: 16px;
    z-index: 1;
  }

  @include tabletToDesktop {
    align-items: center;
    border-radius: $border-radius--large;
    font-size: $x-large;
    height: 223px;
    padding: 0;

    h1 {
      max-width: unset;
    }
  }

  &::after {
    background-image: url('../../../assets/images/IMG.png');
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    filter: brightness(0.7);
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
  }
}
