@import '../../../assets/styles/index.module.scss';

.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 16px;
  width: 100%;

  @include tabletToDesktop {
    flex-direction: row;
    gap: 76px;
    margin-top: 24px;
  }
}