@import '../../../assets/styles/index.module.scss';

.root {
  height: fit-content;
  width: 100%;
  padding: 31px 0;
  overflow: visible;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
  // position: fixed;
  bottom: 0;

  @media (min-width: 768px) {
    height: fit-content;
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    height: 39.44px;
  }

  background-color: black !important;
  .copyrights {
    color: white;
    background-color: black !important;
    font-size: $xx-small;
    height: 46px;
    display: flex;
    align-items: center;

    @media (min-width: 768px) {
      align-items: flex-end;
      font-size: $medium;
    }
  }
}