@import 'assets/styles/index.module.scss';

.root {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: space-around;
  overflow: visible;
  padding: 31px 0;
  width: 100%;
  z-index: 3;

  @include tabletToDesktop {
    flex-direction: column;
    height: fit-content;
    justify-content: center;
  }

  .logo {
    height: 39.44px;
  }

  background-color: black;
  .copyrights {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    font-size: $xx-small;
    height: 46px;

    @include tabletToDesktop {
      align-items: flex-end;
      font-size: $medium;
    }
  }
}
