@import '../../../../../assets/styles/index.module.scss';

.root {
  color: white;
  background-color: $primary;
  font-size: $xxx-small;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0 6px;
  border-radius: $border-radius--small;

  @media (min-width: 768px) {
    font-size: $x-small;
    padding: 0 16px;
    height: 25px;
    border-radius: $border-radius--medium;
    
  }
}