@import '../../../../../assets/styles/index.module.scss';

.root {
  align-items: center;
  background-color: $primary;
  border-radius: $border-radius--small;
  color: white;
  display: flex;
  font-size: $xxx-small;
  height: 18px;
  justify-content: center;
  padding: 0 6px;
  width: fit-content;

  @include tabletToDesktop {
    border-radius: $border-radius--medium;
    font-size: $x-small;
    height: 25px;
    padding: 0 16px;
  }
}