@mixin paddingResponsive {
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 768px)  {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@mixin pageDefaultSetup {
  height: 100%;
}

@mixin flexColumnCentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}