@import '../../assets/styles/index.module.scss';

.root {
  @include pageDefaultSetup();
  color: $primary;

  .content {
    @include flexColumnCentered();
    
    height: 70%;
    gap: 11px;
    text-align: center;

    p {
      width: 260px;
      line-height: 142.6%;
      font-size: $small;
    }
  }

  .redirection {
    @include flexColumnCentered();
    height: 30%;
    font-size: $x-small;
    text-decoration: underline;
  }
}