@import '../../assets/styles/index.module.scss';

.root {
  @include pageDefaultSetup();

  color: $primary;
  height: 100%;

  .content {
    @include flexColumnCentered();

    gap: 11px;
    height: 70%;
    text-align: center;

    p {
      font-size: $small;
      line-height: 142.6%;
      width: 260px;
    }
  }

  .redirection {
    @include flexColumnCentered();

    font-size: $x-small;
    height: 30%;
    text-decoration: underline;
  }
}
